@import "../../styles/variables";
@import "../../styles/main.scss";

.nav-tabs{
  @extend .flexBox;
  margin-bottom: 30px;
  .tab-link{
    width: 108px;
    height: 36px;
    @extend .flexBox;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: $whiteColor;

    &.activeSelect{
      color: $whiteColor;
      background-color: $redColor;
      box-shadow: -3px 7px 13px #FFE3E3;
    }
  }
}