.headerPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-top: 10px;

  & button{
    width: 39px;
    height: 39px;
    box-shadow: -3px 7px 6.5px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  // .logo-container{
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   flex-wrap: wrap;
  //   .logoHeader{
  //     margin-left: 23px;
  //   }
  // }
}


.result{
  .choices-card{
    justify-content: space-around;
  }

  .background-page{
    display: none;
  }
}