.headerPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  & button{
    width: 39px;
    height: 39px;
    box-shadow: -3px 7px 6.5px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .logoHeader{
    margin-left: 4.5em;
  }
}


.result{
  .choices-card{
    justify-content: space-around;
  }
}