.background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.background .modal-wrapper {
  width: 90%;
  height: 40%;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.background .modal-wrapper .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.8;
  color: #141414;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 100%;
}

.background .modal-wrapper .modal-content h4 {
  font-size: 14px;
}

.background .modal-wrapper .modal-content .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.background .modal-wrapper .modal-content .phone-container {
  width: 90%;
}

.background .modal-wrapper .modal-content label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.background .modal-wrapper .modal-content input[type=text] {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  height: 2em;
  font-size: 15px;
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
  outline: none;
}

.background .modal-wrapper .modal-content .input-phone {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  height: 2.3em;
}

.background .modal-wrapper .modal-content .input-phone input {
  font-size: 15px;
  border: none;
  outline: none;
  height: 100%;
}

.background .modal-wrapper .modal-content .input-phone .logo-qatar {
  background-color: #cecccc;
  width: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.background .modal-wrapper .modal-content .input-phone h6 {
  font-size: 15px;
  font-weight: 400;
  padding-left: 2em;
  height: 100%;
}

.background .modal-wrapper .modal-content button {
  background-color: #11ACA1;
  cursor: pointer;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.background .modal-wrapper .close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 22px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.background .error {
  font-size: 12px;
  color: red;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  margin-right: 2em;
}

.background .borderError {
  border: 1px solid red !important;
}
/*# sourceMappingURL=style.css.map */