*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 375px;
  margin-top: 10px;
  direction: rtl;
}

.title{
  font-size: 14px;
  display: flex;
  color: #2f2f2f;
  opacity: 0.4;
  margin: 1.5em 1.5em 0 0;
}

.active{
  border: 2px solid #2e558d;
}

a{
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style: none;
}