@import "../../styles/variables";

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 334px;
  height: 117px;
  box-shadow: -3px 7px 6.5px rgba(0,0,0,0.05);
  border-radius: 10px;
  margin-top: 10px;
  padding-right: 20px;

  & > div{
    display: flex;
    align-items: center;
    & h5{
      margin-right: 20px;
    }
  }
  & h4{
    font-size: 16px;
    color: $blackColor;
    margin: 10px 5em 10px 0;
  }
}